/**
 * Social Buttons
 */


ul.menu.fatbutton-links {
  background-color: transparent;
  margin-top: 10px;
  /*border: 3px solid #e6e6e6;
  border-radius: 10px;*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  padding: 5px 0 10px 0;
  }

  ul.menu.fatbutton-links a:hover {
    box-shadow: 4%;
  }

.region-fatfooter {
  border-top: 5px solid #f60;
}

/**
 * The following code is for the social sharing buttons on the page
 */

a.button-alert {
  order: 1;
  background-image: url(/sites/all/themes/dws2012/images/socialbuttons/alert.png) !important;
  background-position: 3px center !important;
  background-repeat: no-repeat !important;
  background-size:50px 50px;
  width: 55px;
  height: 55px;
  display: block;
  text-indent: -9999px;
}

a.button-fb {
  order: 2;
  background:url(/sites/all/themes/dws2012/images/socialbuttons/facebook.png) no-repeat;
  background-position: 3px center !important;
  background-repeat: no-repeat !important;
  background-size:50px 50px;
  width: 55px;
  height: 55px;
  display: block;
  text-indent: -9999px;
}

a.button-tw {
  order: 3;
  background:url(/sites/all/themes/dws2012/images/socialbuttons/twitter.png) no-repeat;
  background-position: 3px center !important;
  background-repeat: no-repeat !important;
  background-size:50px 50px;
  width: 55px;
  height: 55px;
  display: block;
  text-indent: -9999px;
}

a.button-li {
  order: 4;
  background:url(/sites/all/themes/dws2012/images/socialbuttons/linkedin.png) no-repeat;
  background-position: 3px center !important;
  background-repeat: no-repeat !important;
  background-size:50px 50px;
  width: 55px;
  height: 55px;
  display: block;
  text-indent: -9999px;
}

a.button-rss {
  order: 5;
  background:url(/sites/all/themes/dws2012/images/socialbuttons/rss.png) no-repeat;
  background-position: 3px center !important;
  background-repeat: no-repeat !important;
  background-size:50px 50px;
  width: 55px;
  height: 55px;
  display: block;
  text-indent: -9999px;
}

a.button-yt {
  order: 6;
  background:url(/sites/all/themes/dws2012/images/socialbuttons/youtube.png) no-repeat;
  background-position: 3px center !important;
  background-repeat: no-repeat !important;
  background-size:50px 50px;
  width: 55px;
  height: 55px;
  display: block;
  text-indent: -9999px;
}

#section-footer a,
#section-footer a:visited{
  color:black;
}


#block-hfcc-global-hfcc-global-footer-links {
  padding: 10px;
  z-index: 2;
  position: relative;
  display: flex;
  border-radius: 5px;
  justify-content: flex-start;
  width: 33%;
  float: left;
  padding: 5px;
  border-radius: 2px;
  list-style: none;
  font-size: 0.85em;
  z-index: 0;
}

a.maps-directory {
  order: 1;
}
a.hours-of-operation{
  order: 2;
}
a.privacy-policty{
  order: 3;
}
a.terms-of-use{
  order: 4;
}
a.request-more-information{
  order: 5;
}

/*#section-footer {
  border: 3px solid #e6e6e6;
  border-radius: 5px;
}
*/

#block-hfcc-global-hfcc-global-footer-message{
  position: relative;
  padding: 16.5px;
  float: right;
  font-size: 0.85em;
}

@media only screen and (min-width: 367px) {
#block-hfcc-global-hfcc-global-footer-message {
    max-width: 50%;
    display: flex;
    flex-flow: column wrap;
  }
}


@media only screen and (max-width: 600px) {
  .region-fatfooter {
    max-width: 50%;
  }

    .region-fatfooter {
    border: none;
  }
}

@media only screen and (max-width: 300px) {
  .region-fatfooter {
    max-width: 50%;
  }

  .region-fatfooter {
    border: none;
  }
}

