h1#site-name, ul#secondary-menu.inline {
  display: none;
}

/**
 * Fixed nav bar on top of page
 */


/**
 * Search bar
 */

input#edit-submit.form-submit, input#edit-submit--3.form-submit {
  display: none;
}

/**
 * TO DO:   background-position: 3px center !important;
  background-repeat: no-repeat !important;
  background-size:50px 50px;
  width: 55px;
  height: 55px;;
 */

#search-block-form input {
  background-image: url(/sites/all/themes/dws2012/images/lens.png) !important;
  background-position: 3px center !important;
  background-repeat: no-repeat !important;
  border-radius: 2px;
  border: 2px solid #fff;
  color: black;
  font-weight: bold;
  margin: 5px;
  padding-left: 22px;
  margin-top:15px;
  /*width: 275px;*/
}

#edit-search-block-form--2#edit-submit {
  display: none;
}

/*
contact info


#block-block-4 {
  float: left;
  background-color: #eee;
}*/

/**
 * Main nav
 */


#main-menu {
  font-size: 1.0em;
  text-decoration: none;
  border-bottom: 5px solid #f60;
  left:0;
  right:0;
  background-color:#eee;
  color:black;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

ul#main-menu a {
  color: black;
  font-weight: bold;
}

/**
 * Site Name
 */

div.site-logo {
  font-weight: bold;
  font-size: 3.5em;
  border: none;
  color: #777
}


a.hfcc-home {
    display: block;
    /*text-indent: -9999px;*/
    width: 100%;
    height: 100%;
}
.site-logo a {
    background-image: url(../../futuredriven/images/hfc-futuredriven-color.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-size:100px 100px;
    width: 105px;
    height: 105px;
}

.hfcc-home.no-link {
  position: fixed;
  z-index: 2;
  top: 0;
  background-color:#eee;
}

/**
 * Contact/search
 */

div#name-and-slogan {
  margin-top: 10px;
  margin-right: 15px;
}

div.header-container a{
  color: black;
}
div
.header-container a:hover{
  color: #f60;
}

div.header-container a.hfcc-home.no-link {
  color: transparent;
}

@media only screen and (max-width: 463px) {
  div#name-and-slogan {
   margin-top: 100px;
   width: 100%;
 }
}

@media screen and (max-width:680px) {
  ul#main-menu {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  .hfcc-home.no-link {
    display: none;
  }
}
