
/**
 * Body
 */

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: texgyreadventorbold,sans-serif;
}
h2 {
    font-size: 24px;
    line-height: 36px;
}

body {
  position: relative;
  background-color: #eee;
}

/**
 * Default link styles
 */

a, a:visited{
  font-weight: normal;
  text-decoration: none;
 }

a:hover {
  text-decoration: underline;
  color: orange;
}

a.inline {
  text-decoration: none;
}

/**
 * Link format for highlight region
 */

#highlighted a,
#highlighted a:hover
{
  font-weight: bold;
  color: #FF6600;
  font-size: 1.0em;
}

#highlighted h2{
  font-size: 2em;
}

/**
 * Highlighted content
 */

#block-views-news-and-press-block {
  display: flex;
  align-content:stretch;
  margin-bottom: 50px;
}
#block-views-news-and-press-block .content li{
  background-color: #fff;
  padding: 9px;
  margin: 20px;
}

#block-views-news-and-press-block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

/**
 * Main Content
 */

h1#page-title.title {
  display:none;
}

div.content {
  text-align: center;
}

.region.region-content {
  margin: 10px;
  padding: 5px;
  width: 60%;
  background-color: #fff;
  text-align: left;
  display: block;
}

/*@media only screen and (max-width: 767px) {
  .region.region-content {
    margin: 55px;
    width: 50%;
  }
}

@media only screen and (max-width: 455px) {
  .region.region-content {
    margin: 55px;
    width: 50%;
    background-size: 80px;
  }
  #block-views-productions-block  img {
    max-width: 100%;
  }
}*/

/*@media only screen and (max-width: 767px) {
  #block-views-productions-block {
    margin: 55px;
    width: 50%;
  }
}

@media only screen and (max-width: 455px) {
  #block-views-productions-block {
    margin: 35px;
    width: 25%;
    background-size: 80px;
  }
}

@media only screen and (max-width: 200px) {
  #block-views-productions-block {
    margin: 35px;
    width: 15%;
    background-size: 80px;
  }
}*/
/*.region-content .view.view-productions.view-id-productions a,
.region-content .view.view-productions.view-id-productions a:active {
  font-size: 1.5em;
  text-align: center;
  color: #f60;
}

.region-content .view.view-productions.view-id-productions .views-row{
  border-bottom: 1px solid #eee;
}

#block-views-productions-block div.content{
  margin-top: 5px;
  margin-left: 40px;
  padding: 5px;
  text-align: left;

  }

#block-views-productions-block  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

#block-views-image-block {
  margin: 15px;
  width: 100%;
}
*/

/**
 * Sidebars
 */

.button {
    background-color:  #f60;
    margin: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.button:hover {
    background-color: #ff8a00;
    border: #FF6600;
    color:white;
}

.region-sidebar-first,
.region-sidebar-second {
  padding:1em;
  display: block;
}

#block-block-3 {
  background-color: white;
  border:1px solid #d0d0d0;
  margin-bottom: 5px;
  display: block;
}

#block-webform-client-block-28 {
  margin-top: 15px;
  padding: 10px;
  background-color: white;
  border:1px solid #d0d0d0;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: block;
}
