/**
 * @file
 * View styling.
 */

 /** Styling for views **/

/**
 * Overrides for Views Grid display.
 *
 * Based on a hack by Jen Simmons to render views grids as unordered lists and modified for use with flexbox.
 * See https://gist.github.com/2295479 and ../templates/views-view-grid.tpl.php
 *
 */

img {
  max-width: 100%;
  padding: 5px;
}


@media only screen and (min-width: 1000px) {
  img {
    max-width: 100%;
    padding: 5px;
  }

ul.views-view-grid {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: stretch;
  -webkit-align-items: stretch;
  }
}

ul.views-view-grid li {
  list-style: none;
  margin: 0;
  padding: 0 0 0.625em;
  position: relative;
}

ul.views-view-grid li img{
  display: block;
}

/* Date fix for month calendar views. */

.calendar-calendar div.day {
  width: 2em;
}

/* Padding for end of view row */
.group-list .view-content .views-row-last {
  padding-bottom: 1.625em;
}

@media only screen and (max-width: 780px) {
  /* Overrides for Views Grid display. */

  ul.views-view-grid li {
    padding: 0 0.3125em 0.625em;
  }

  .view ul.cols-2 li {
    flex-basis: 50%;
  }
  .view ul.cols-3 li {
    flex-basis: 33.3333%;
  }
  .view ul.cols-4 li {
    flex-basis: 25%;
  }
  .view ul.cols-5 li {
    flex-basis: 20%;
  }
  .view ul.cols-6 li {
    flex-basis: 16.6666%;
  }
  .view ul.cols-7 li {
    flex-basis: 14.2857%;
  }
  .view ul.cols-8 li {
    flex-basis: 12.5%;
  }
  .view ul.cols-9 li {
    flex-basis: 11.1111%;
  }
  .view ul.cols-10 li {
    flex-basis: 10%;
  }
}
